# Ignore build artifacts
compiling_linux/busybox_initrd/*
compiling_linux/tinylinux/*
# Ignore temporary files
*~
*.swp
# Ignore compiled object files
*.o
# Ignore kernel module files
*.ko
*.mod.c
*.mod
*.cmd
*.symvers
*.order
Kbuild

# Ignore log files
*.log